body{
  font-family: sans-serif;
}


.page-header {
  margin: 20px 15px;
}

.container {
  position: absolute;
  width: 600px;
  max-width: 95vw;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
}

.center {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
  text-decoration: none;
}

.emoji-container {
  position: relative;
  grid-column: 3;
  grid-row: 3;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -90px;
}

button {
  width: fit-content;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result {
  user-select: none;
  margin: 5px;
  padding: 5px;
  display: inline;
  cursor: pointer;
  border: 1px solid transparent;
}

.result:active {
  transition: all 0.1s;
  border: 1px solid rgb(194, 194, 194);
  background-color: aquamarine;
  border-radius: 5px;
}


button:hover {
  background-color: #f1f1f1;
  box-shadow: 0 0 5px 0 #f1f1f1;
}

button:active {
  background-color: #e1e1e1;
}

.footer {
  display: flex;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  bottom: -120px;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
  color: #a1a1a1;
}